<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropdown
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
    <a href="/about"><button class="dropdown-item" type="button">About</button></a>
    <a href="/contact"><button class="dropdown-item" type="button">Another action</button></a>
    <button class="dropdown-item" type="button">Something else here</button>
  </div>
</div>

